{% extends "base.html" %}

{% block content %}

<h3>Search Parking Slots</h3>

<form method="GET" action="/search">

<div class="row">

<div class="col-md-4">

<label>Maximum Price</label>

<input type="number" name="price" class="form-control">

</div>

<div class="col-md-2 mt-4">

<button class="btn btn-primary">
Search
</button>

</div>

</div>

</form>

<hr>

<div class="grid">

{% for slot in slots %}

<div class="slot {{slot.status}}">

Slot {{slot.slot_number}}

<br>

₹{{slot.price}}

<br>

{{slot.status}}

{% if slot.status == "Available" %}

<form action="/book/{{slot.id}}" method="POST">

<input name="vehicle" placeholder="Vehicle No" class="form-control mt-1" required>

<input name="hours" type="number" placeholder="Hours" class="form-control mt-1" required>

<button class="btn btn-light btn-sm mt-2">Book</button>

</form>

{% endif %}

</div>

{% endfor %}

</div>

{% endblock %}