body{
background:#f5f5f5;
font-family:Arial;
}

.grid{

display:grid;

grid-template-columns:repeat(5,1fr);

gap:15px;

margin-top:20px;

}

.slot{

padding:20px;

border-radius:10px;

text-align:center;

color:white;

font-weight:bold;

}

.Available{

background:#28a745;

}

.Reserved{

background:#ff9800;

}